body, html, p, h1 {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p, h1, li {
    text-shadow: 0px 0px 7px black;
    color: var(--white);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p, li {
    font-size: 20px;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --cyan: #00FFFF;
  }

@font-face {
    font-family: "Blanka";
    src: url("fonts/Blanka-regular.otf");
}

@font-face {
    font-family: "Cooper";
    src: url("fonts/Cooper Black Regular.ttf");
}

.container {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.background {
    background:rgba(0, 0, 0, 0.6);
    min-height: 100vh;
}

.header {
    display: flex;
    box-shadow: #00FFFF 0px 1px 1px, #00FFFF 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    background:rgba(0, 0, 0, 0.75);
    height: 130px;
    width: 100%;
    z-index: 5;
    margin-bottom: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    box-shadow: #00FFFF 0px 1px 1px, #00FFFF 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    background:rgba(0, 0, 0, 0.75);
    height: 100vh;
    align-items: center;
    width: inherit;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.navbar_filler {
    position: relative;
    width: 100%;
    height: 130px;
    display: none;
}

.sidebar .top {
    padding: 5px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .top img {
    height: 55px;
}

.header .top {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    width: 20%;
    position: relative;
}

.top img {
    height: 100px;
}

.header .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid white;
    width: 60%;
}

.sidebar .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
    height: 60vh;
    width: 100%;
    border-left: none;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    z-index: 10;
    text-align: center;
    align-items: center;
}

.navigation ul li{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.sidebar ul li{
    display: flex;
    padding: 10px;
    margin: 10px;
    z-index: 10;
}

.navigation a {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    color: var(--white);
    text-shadow: 0px 0px 7px black;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    user-select: none;
}

.sidebar a {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    color: var(--white);
    text-shadow: 0px 0px 7px black;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    user-select: none;
    z-index: 10;
}

.navigation a:hover {
    text-shadow: 0px 0px 7px var(--cyan);
    box-shadow: #00FFFF 0px 1px 1px, #00FFFF 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.navigation .active {
    text-shadow: 0px 0px 7px var(--cyan);
    box-shadow: #00FFFF 0px 1px 1px, #00FFFF 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.social_media {
    display: flex;
    width: 20%;
    border-left: 2px solid white;
    align-items: center;
}

.social_media .idk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.social_media .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.social_media .settings img {
    width: 50px;
}

.sidebar .social_media {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    border-top: 2px solid white;
    border-left: none;
    justify-content: center;
    align-items: center;
}

.sidebar .social_media .idk {
    height: 33%;
    width: 100%;
}

.sidebar .social_media .settings {
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    justify-content: center;
}

.sidebar .social_media .settings img {
    width: 30px;
}

.top .open, .top .close {
    font-family: "Cooper";
    font-size: 80px;
    display: flex;
    align-items: center;
    text-shadow: 2px 4px black;
}

.top .r{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: start;
    font-family: "Blanka";
    font-size: 100px;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    text-shadow: -2px 4px black;
}

.top .p{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: start;
    font-family: "Blanka";
    font-size: 100px;
    height: 200px;
    text-shadow: 2px 4px black;
}

.content {
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.center {
    display: flex;
    width: 60%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.navigation_mobile {
    display: none;
}

.standard{
    position: relative;
    margin: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    box-shadow: #00FFFF 0px 1px 1px, #00FFFF 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-radius: 15px;
    text-align: center;
    background:rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.hjem {
    display: flex;
    flex-direction: column;
}

.martin {
    display: flex;
    flex-wrap: wrap;
}

.martin h1 {
    width: 100%;
}

.martin .left {
    display: flex;
    width: 48%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: end;
}

.martin .left img{
    width: 25vw;
    filter: grayscale(100%);
}

.martin .right {
    display: flex;
    width: 48%;
    align-items: center;
    justify-content: center;
}

.standard h1 {
    padding: 5px;
}

.standard p {
    text-align: left; 
    padding: 10px;
}

.standard ul {
    color: white;
    text-align: left;
}

.bestilling {
    display: none;
}

.prosjekter {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.prosjekter .tidligere {
    width: 100%;
}

.prosjekter .prosjekt {
    display: flex;
    flex-direction: column;
    width: 45.75%;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.prosjekter .prosjekt p {
    text-align: center;
    margin-bottom: 10px;
}

.prosjekter .prosjekt a{
    text-decoration: none;
    border: none;
    margin-top: 10px;
}

.prosjekter .prosjekt img{
    width: 400px;
    height: 200px;
    border-radius: 15px;
    box-shadow: white 0px 3px 8px;
}

.kontakt {
    display: none;
}

.om {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.om .topleft {
    width: 100%;
}

.om .bottomleft {
    width: 80%;
}

.om .bottomright {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 20%;
}

.velkommen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.velkommen .top {
    width: 100%;
}

.velkommen .bottomleft {
    width: 80%;
}

.velkommen .bottomright {
    width: 20%;
}

.nedover {
    display: flex;
    flex-direction: column;
}

.bortover {
    display: flex;
    flex-direction: row;
}


@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes bounceInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       -webkit-transform: translateY(30px);
    }
    80% {
       -webkit-transform: translateY(-10px);
    }
    100% { 
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes bounceInDown {
    0% {
       opacity: 0;
       transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       transform: translateY(30px);
    }
    80% {
       transform: translateY(-10px);
    }
    100% {
       transform: translateY(0);
    }
 }
 
 .bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
 }

.show {
    
}
@media only screen and (max-width: 1280px) {
    .navigation a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .top img {
        height: 70px;
    }

    .navigation a {
        font-size: 15px;
    }

    .social_media .settings img {
        width: 35px;
    }
}
@media only screen and (max-width: 780px) {
    .center {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }

    .header {        
        position: relative;
        height: inherit;
    }

    .header .navigation {
        display: none;
        height: inherit;
    }

    .navigation_mobile {
        display: flex;
        border-top: 2px solid white;
        width: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 5;
    }
    .navigation_mobile .back {
        background: url(icon/menu.png);
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .header .social_media {
        display: none;
    }

    .header .top {
        width: 100%;
    }

    .header .top img {
        height: 100px;
    }

    .martin .left img{
        width: 45vw;
    }

    .martin .left {
        width: 100%;
    }
    .martin .right {
        width: 100%;
        justify-content: center;
    }

    .om .bottomleft {
        width: 100%;
    }
    .om .bottomright {
        justify-content: center;
        width: 100%;
    }

    .velkommen .bottomleft {
        width: 100%;
    }
    .velkommen .bottomright {
        width: 100%;
    }

    .prosjekter .prosjekt {
        width: 100%;
    }
  }